.modal2 {
  min-width: 272px;
  max-width: 480px;
  width: 100%;
  padding: 32px 16px;
  background-color: #fff;
  position: relative;
  transition: transform 250ms liniar;
  animation: zoom 750ms linear forwards;
  @media screen and (min-width:$tablet) {
      padding: 54px 32px;
  }
&_title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-bottom: 14px;
  display: block;
  @media screen and (min-width: $tablet) {
      font-size: 32px;
      line-height: calc(39 / 32);
      margin-bottom: 16px;
  }
}
&__text {
  text-align: center;
  font-size: 12px;
  line-height: calc(15 / 12);
  margin-bottom: 18px;
  color: $main-grey-color;
  @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: calc(20 / 16);
      margin-bottom: 34px;
  }
}


.show-modal-2 {
  display: block;
  opacity: 1;
  visibility: visible;
  position: absolute;
  right: 17px;
  bottom: 330px;
  animation: zoom 750ms linear forwards;
}
}

@keyframes zoom {
  0% {
      transform: scale(0.2);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
} 



    





