



.modal2 {
 
   max-width: 272px;
   width: 100%;
   width: 528px;
   background-color: #fff;
   position: relative;
   transition: transform 250ms liniar;
   padding-right: 16px;
   padding-left: 16px;
   padding-top: 16px;
   padding-bottom: 28px;
   animation:  zoom 750ms linear forwards;

   @media screen and (min-width: 768px) {
       max-width: none;
       width: 480px;
       padding-right: 32px;
       padding-left: 32px;
       padding-top: 32px;
       padding-bottom: 48px;

     }

   &__title {
       font-weight: 600;
       font-size: 20px;
   line-height: calc(24 / 20);
     text-align: left;
     letter-spacing: 0.03em;
     color: #000000;
     margin-bottom: 14px;
     display: block;
     @media screen and (min-width: 768px){
       font-size: 32px;
       line-height: calc(39 / 32);
       margin-bottom: 24px;
     }
   }
 
 

   &__button {
       width: 18px;
       height: 18px;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: var(--primary-bg-color);
       position: absolute;
       top: 8px;
       right: 8px;
       color: #000000;
       fill: #000000;
       transition: color 250ms linear;
       cursor: pointer;
     }

    
       &__button-send{
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: calc(17 / 14);
        color:#fff;
        background-color:  #E86F54;
        border-radius: 8px;
        border:0;
        margin-left: auto;
        margin-right: auto;
        min-width: 240px;
        height: 37px;
        padding: 10px 35px;
        @media screen and (min-width: 768px){
            height: 50px;
            min-width: 416px;
        }
      }
     
}


@keyframes zoom { 
   0%{
       transform: scale(0.2);
   }
   50%{
       transform: scale(1.2);
   }
   100%{
       transform: scale(1);
   }
}


   




